<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e.shop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="src/css/styleV.min.css">
</head>

<body>
    <div id="shop" class="shop">
        <header>
            <div class="header-item">
            <custom-button @open="showBask">Корзина</custom-button>
            <div class="input-item">
                <input type="text" class="goods-search" v-model="searchStr">
                <custom-button @open="goodsFiltered">Искать</custom-button>
            </div>
            </div>
        </header>
        <div class="goods-list">
            <div v-for="item in filteredGoods">
                <goods-item class="goods-item" v-bind:item="item" @add="addGood"></goods-item>
            </div>
        </div>
        <calc-field >Стоимость <br>{{coast}} рублей</calc-field>

        <div class="basket-goods-list" v-if="basketCardVision">
            <div v-for="baskItem in basket">
                <bask-item class="basket-card" v-bind:item="baskItem"></bask-item>
            </div>
            <custom-button @open="showBask" :style="{width: '40px', height: '40px'}">X</custom-button>
        </div>
        <calc-field v-if="basketCardVision">Стоимость товаров: <br> {{baskCoast}} рублей</calc-field>
        
    </div>
    <script src="src/js/scriptV.js"></script>
</body>
</html>